#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.tablero {
  width: fit-content;
  margin: 40px auto;
  text-align: center;
}
.tablero button{
  padding: 8px 12px;
  margin: 25px;
  background: transparent;
  border: 2px solid #eee;
  color: #eee;
  width: 100px;
  border-radius: 5px;
  transition: 0.2s;
  font-weight: bold;
  cursor: pointer;
}
.tablero button:hover{
  background: #eee;
 color: #222;
}

.tablero h1 {
  color: #eee;
  margin-bottom: 16px;
}

.tablero .game {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10;
}

.turno {
  display: flex;
  justify-content: center;
  margin: 15px auto;
  width: fit-content;
  position: relative;
  border-radius: 10px;
  
}

.recuadro {
  width: 100px;
  height: 100px;
  border: 2px solid #eee;
  border-radius: 0px;
  display: grid;
  place-items: center;
  cursor: pointer;
  font-size: 48px
}

.recuadro.is-selected {
  color: #fff;
  background: #09f;
  border-color: transparent;

}

.recuadro .turno,
.ganador .recuadro {
  width: 70px;
  height: 70px;
  pointer-events: none;
  border-color: transparent;
}

.ganador {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  background-color: rgb(0, 0, 0.7);
}

.ganador .text {
  background: #111;
  height: 300px;
  width: 320px;
  border: 2px solid #eee;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.ganador .gano{
margin: 0 auto;
width: fit-content;
border: 2px solid #eee;
display: flex;
gap: 15px;
}
